[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
drf-yasg = "*"
djangorestframework = "*"
python-decouple = "*"
dj-database-url = "*"
psycopg2-binary = "*"
whitenoise = "*"
gunicorn = "*"
djangorestframework-simplejwt = "*"
django-import-export = "*"
django-cors-headers = "*"
requests = "*"
celery = "*"
django-dotenv = "*"
channels = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
